.cat {
    &__row {
        display: flex;
        flex-flow: row wrap;
        margin: 55px 0;
        gap: 30px;
        width: 100%;
    }
    &__title {
        font-size: calc(40px + var(--zoom));
        font-weight: 400;
        line-height: 100%;
        color: var(--black);
        width: 100%;
    }
    &__cards {
        display: flex;
        flex-flow: row wrap;
        gap: 25px;
    }
    &__card {
        flex: 0 0 32%;
        display: flex;
        flex-flow: column;
        background: #F4F1EB;
        border-radius: 6px;
        padding: 30px 36px;
        gap: 13px;
    }
    &__head {
        font-size: calc(22px + var(--zoom));
        font-weight: 400;
        line-height: 110%;
        color: var(--black);
    }
    &__img {
        display: block;
        margin: auto;
    }
}
