<section class="about-sert">
    <div class="container">
        <div class="about-sert__row">
            <div class="about-sert__title">
                Сертификаты продукции
            </div>
            <div class="about-sert__column">
                <ul id="my-gallery" class="about-sert__items">
                    <a href="../img/sert-1.jpg">
                        <li class="about-sert__item">
                            <picture>
                                <source srcset="../img/sert-1.avif" type="image/avif">
                                <source srcset="../img/sert-1.webp" type="image/webp">
                                <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                            </picture>
                        </li>
                    </a>
                    <li class="about-sert__item">
                        <picture>
                            <source srcset="../img/sert-1.avif" type="image/avif">
                            <source srcset="../img/sert-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                        </picture>
                    </li>
                    <li class="about-sert__item">
                        <picture>
                            <source srcset="../img/sert-1.avif" type="image/avif">
                            <source srcset="../img/sert-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                        </picture>
                    </li>
                    <li class="about-sert__item">
                        <picture>
                            <source srcset="../img/sert-1.avif" type="image/avif">
                            <source srcset="../img/sert-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                        </picture>
                    </li>
                    <li class="about-sert__item">
                        <picture>
                            <source srcset="../img/sert-1.avif" type="image/avif">
                            <source srcset="../img/sert-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                        </picture>
                    </li>
                    <li class="about-sert__item">
                        <picture>
                            <source srcset="../img/sert-1.avif" type="image/avif">
                            <source srcset="../img/sert-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                        </picture>
                    </li>
                    <li class="about-sert__item">
                        <picture>
                            <source srcset="../img/sert-1.avif" type="image/avif">
                            <source srcset="../img/sert-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                        </picture>
                    </li>
                    <li class="about-sert__item">
                        <picture>
                            <source srcset="../img/sert-1.avif" type="image/avif">
                            <source srcset="../img/sert-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/sert-1.jpg" class="image" width="" height="" alt="Сертификаты продукции">
                        </picture>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
