<section class="about-block">
    <div class="container">
        <div class="about-block__row">
            <div class="about-block__column">
                <div class="about-block__title">О компании</div>
                <div class="about-block__content">
                    <p>Мы стремимся предложить качественные товары. Понимая реальные нужды потребителей, предлагаем экономически взаимовыгодные варианты сотрудничества. Оказываем комплексную и рекламную поддержку.</p>
                    <p>Сеть наших дилеров в разных регионах России, позволяет приобрести высококачественную продукцию во многих городах.</p>
                    <p>Наша компания готова к сотрудничеству, т.к. активно растущие объемы продаж наших товаров и признание высокого качества производства потребителем, говорят о том, что спрос на товары будет только увеличиваться из года в год.</p>
                </div>
            </div>
            <div class="about-block__column">
                <div class="about-block__img">
                    <picture>
                        <source srcset="../img/about-block-img.avif" type="image/avif">
                        <source srcset="../img/about-block-img.webp" type="image/webp">
                        <img loading="lazy" src="../img/about-block-img.jpg" width="" height="" alt="О компании">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about-block__row about-block__row_advantages">
            <div class="about-block__column">
                <div class="about-block__title">Наши преимущества</div>
                <div class="about-block__content">
                    Мы поставляем уникальную продукцию высокого качества, всегда соблюдаем сроки доставки, часто закупаем партиями товар производителя. Предлагаем вам только лучшие условия и цены для сотрудничества!
                </div>
                <ul class="about-block__list">
                    <li class="about-block__list_award">
                        <div class="about-block__text">
                            <span>Лучшее качество</span>
                            <p>Качество товара соответствует ГОСТУ РФ</p>
                        </div>
                    </li>
                    <li class="about-block__list_box">
                        <div class="about-block__text">
                            <span>Поставки любых объемов</span>
                            <p>Поставки любых объемов</p>
                        </div>
                    </li>
                    <li class="about-block__list_hand">
                        <div class="about-block__text">
                            <span>Обеспечим поддержку</span>
                            <p>Партнерская помощь в продвижении</p>
                        </div>
                    </li>
                    <li class="about-block__list_detail">
                        <div class="about-block__text">
                            <span>Всегда в наличии</span>
                            <p>Собственные склады в Москве и МО</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="about-block__column">
                <div class="about-block__img">
                    <picture>
                        <source srcset="../img/about-advantages.avif" type="image/avif">
                        <source srcset="../img/about-advantages.webp" type="image/webp">
                        <img loading="lazy" src="../img/about-advantages.jpg" width="" height="" alt="О компании">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
