<section class="about-main">
    <div class="container">
        <div class="about-main__row">
            <div class="about-main__column">
                <div class="about-main__title">О компании</div>
                <div class="about-main__content">
                    <p>Группа компаний Vinar Chemical (Великобритания) осуществляет импорт в Россию средств гигиены и бытовой химии под торговыми марками “Tay-Tay”, “Frau Sauber”, “Elze” .</p>
                    <p>Компоненты для производства, промышленная химия поставляется из ряда стран Европы, Турции, Южной Кореи и Малайзии. </p>
                </div>
                <div class="about-main__button">
                    <a href="/"><button class="btn-reset " data-graph-path="">Подробнее</button></a>
                </div>
            </div>
            <div class="about-main__column">
                <div class="about-main__img">
                    <picture>
                        <source srcset="../img/about-main__img.avif" type="image/avif">
                        <source srcset="../img/about-main__img.webp" type="image/webp">
                        <img loading="lazy" src="../img/about-main__img.jpg" class="image" width="" height="" alt="О компании">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
