<section class="brands">
    <div class="container">
        <div class="brands__row">
            <div class="brands__column">
                <div class="brands__title">
                    <h2>С кем мы сотрудничаем?</h2>
                </div>
                <div class="brands__text">
                    <p>Мы стремимся предложить качественные товары. Понимая реальные нужды потребителей, предлагаем экономически взаимовыгодные варианты сотрудничества. Оказываем комплексную и рекламную поддержку.</p>
                    <p>Сеть наших дилеров в разных регионах России, позволяет приобрести высококачественную продукцию во многих городах.</p>
                    <p>Наша компания готова к сотрудничеству, т.к. активно растущие объемы продаж наших товаров и признание высокого качества производства потребителем, говорят о том, что спрос на товары будет только увеличиваться из года в год.</p>
                </div>
            </div>
            <div class="brands__column">
                <div class="brands__image">
                    <picture>
                        <source srcset="../img/brands__image.avif" type="image/avif">
                        <source srcset="../img/brands__image.webp" type="image/webp">
                        <img loading="lazy" src="../img/brands__image.jpg" class="image" width="" height="" alt="">
                    </picture>
                </div>
            </div>
            <div class="brands__slr brands__slr_first">
                <div class="brands__navigation">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper brands-main__slider_page">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brands-main__cards">
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-1.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-1.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-1.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-2.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-2.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-2.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-3.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-3.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-3.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-4.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-4.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-4.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-5.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-5.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-5.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-6.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-6.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-6.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-7.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-7.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-7.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="brands-main__card">
                                    <div class="brands-main__img">
                                        <picture>
                                            <source srcset="../img/brands-main__img-7.avif" type="image/avif">
                                            <source srcset="../img/brands-main__img-7.webp" type="image/webp">
                                            <img loading="lazy" src="../img/brands-main__img-7.png" class="image" width="" height="" alt="">
                                        </picture>
                                    </div>
                                    <div class="brands-main__link">
                                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->

                </div>
                <div class="swiper brands-main__slider_mobile">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brands-main__card">
                                <div class="brands-main__img">
                                    <picture>
                                        <source srcset="../img/brands-main__img-1.avif" type="image/avif">
                                        <source srcset="../img/brands-main__img-1.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brands-main__img-1.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="brands-main__link">
                                    <a href="/">Подробнее<i class="arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brands-main__card">
                                <div class="brands-main__img">
                                    <picture>
                                        <source srcset="../img/brands-main__img-2.avif" type="image/avif">
                                        <source srcset="../img/brands-main__img-2.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brands-main__img-2.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="brands-main__link">
                                    <a href="/">Подробнее<i class="arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brands-main__card">
                                <div class="brands-main__img">
                                    <picture>
                                        <source srcset="../img/brands-main__img-3.avif" type="image/avif">
                                        <source srcset="../img/brands-main__img-3.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brands-main__img-3.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="brands-main__link">
                                    <a href="/">Подробнее<i class="arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brands-main__card">
                                <div class="brands-main__img">
                                    <picture>
                                        <source srcset="../img/brands-main__img-4.avif" type="image/avif">
                                        <source srcset="../img/brands-main__img-4.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brands-main__img-4.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="brands-main__link">
                                    <a href="/">Подробнее<i class="arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brands-main__card">
                                <div class="brands-main__img">
                                    <picture>
                                        <source srcset="../img/brands-main__img-5.avif" type="image/avif">
                                        <source srcset="../img/brands-main__img-5.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brands-main__img-5.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="brands-main__link">
                                    <a href="/">Подробнее<i class="arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brands-main__card">
                                <div class="brands-main__img">
                                    <picture>
                                        <source srcset="../img/brands-main__img-6.avif" type="image/avif">
                                        <source srcset="../img/brands-main__img-6.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brands-main__img-6.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="brands-main__link">
                                    <a href="/">Подробнее<i class="arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brands-main__card">
                                <div class="brands-main__img">
                                    <picture>
                                        <source srcset="../img/brands-main__img-7.avif" type="image/avif">
                                        <source srcset="../img/brands-main__img-7.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brands-main__img-7.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="brands-main__link">
                                    <a href="/">Подробнее<i class="arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brands__row brands__row_child">
            <div class="brands__column">
                <div class="brands__image">
                    <picture>
                        <source srcset="../img/brands__image-2.avif" type="image/avif">
                        <source srcset="../img/brands__image-2.webp" type="image/webp">
                        <img loading="lazy" src="../img/brands__image-2.png" class="image" width="" height="" alt="">
                    </picture>
                </div>
            </div>
            <div class="brands__column">
                <div class="brands__title">
                    <h2>Tay-tay и Balakay</h2>
                </div>
                <div class="brands__text">
                    <p>
                        Предприятие ОсОО «Пейванд» создано с целью предложить отечественным и зарубежным потребителям качественный продукт кыргызстанского производства по цене значительно более конкурентной, чем иностранные аналоги, а также реализации программы по импортозамещению.
                        Мы выпускаем подгузники под двумя марками Tay - Tay Baby и Balakay. Завод полностью отвечает требованиям санэпидемстанции и требованиям других ведомостей. При подборе сырьевых материалов ОсОО «Пейванд» руководствуется общемировыми
                        требованиями по производству экологически чистых подгузников «sustainable & environmental friendly», пункты которых зафиксированы Всемирной Организацией Здравоохранение.
                    </p>
                </div>
                <div class="brands__button">
                    <a href="/"><button class="btn-reset">Посмотреть товары</button></a>
                </div>
            </div>
        </div>
        <div class="brands__row brands__row_product">
            <div class="brands__column">
                <div class="brands__title">
                    <h2>Товары бренда</h2>
                </div>
            </div>
            <div class="brands__slr brands__slr_prd">
                <div class="brands__navigation">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper brands__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/img-card.avif" type="image/avif">
                                        <source srcset="../img/img-card.webp" type="image/webp">
                                        <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/img-card.avif" type="image/avif">
                                        <source srcset="../img/img-card.webp" type="image/webp">
                                        <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/img-card.avif" type="image/avif">
                                        <source srcset="../img/img-card.webp" type="image/webp">
                                        <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/img-card.avif" type="image/avif">
                                        <source srcset="../img/img-card.webp" type="image/webp">
                                        <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/img-card.avif" type="image/avif">
                                        <source srcset="../img/img-card.webp" type="image/webp">
                                        <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brands__row brands__row_child">
            <div class="brands__column">
                <div class="brands__title">
                    <h2>Frau Sauber</h2>
                </div>
                <div class="brands__text">
                    <p>
                        Предприятие ОсОО «Пейванд» создано с целью предложить отечественным и зарубежным потребителям качественный продукт кыргызстанского производства по цене значительно более конкурентной, чем иностранные аналоги, а также реализации программы по импортозамещению.
                        Мы выпускаем подгузники под двумя марками Tay - Tay Baby и Balakay. Завод полностью отвечает требованиям санэпидемстанции и требованиям других ведомостей. При подборе сырьевых материалов ОсОО «Пейванд» руководствуется общемировыми
                        требованиями по производству экологически чистых подгузников «sustainable & environmental friendly», пункты которых зафиксированы Всемирной Организацией Здравоохранение.
                    </p>
                </div>
                <div class="brands__button">
                    <a href="/"><button class="btn-reset">Посмотреть товары</button></a>
                </div>
            </div>
            <div class="brands__column">
                <div class="brands__image">
                    <picture>
                        <source srcset="../img/brands__image-3.avif" type="image/avif">
                        <source srcset="../img/brands__image-3.webp" type="image/webp">
                        <img loading="lazy" src="../img/brands__image-3.png" class="image" width="" height="" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="brands__row brands__row_product">
            <div class="brands__column">
                <div class="brands__title">
                    <h2>Товары бренда</h2>
                </div>
            </div>
            <div class="brands__slr brands__slr_prd">
                <div class="brands__navigation">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper brands__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/frau-suber-product.avif" type="image/avif">
                                        <source srcset="../img/frau-suber-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/frau-suber-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/frau-suber-product.avif" type="image/avif">
                                        <source srcset="../img/frau-suber-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/frau-suber-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/frau-suber-product.avif" type="image/avif">
                                        <source srcset="../img/frau-suber-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/frau-suber-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/frau-suber-product.avif" type="image/avif">
                                        <source srcset="../img/frau-suber-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/frau-suber-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/frau-suber-product.avif" type="image/avif">
                                        <source srcset="../img/frau-suber-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/frau-suber-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brands__row brands__row_child">
            <div class="brands__column">
                <div class="brands__image">
                    <picture>
                        <source srcset="../img/brands__image-4.avif" type="image/avif">
                        <source srcset="../img/brands__image-4.webp" type="image/webp">
                        <img loading="lazy" src="../img/brands__image-4.png" class="image" width="" height="" alt="">
                    </picture>
                </div>
            </div>
            <div class="brands__column">
                <div class="brands__title">
                    <h2>Flexi life</h2>
                </div>
                <div class="brands__text">
                    <p>
                        Предприятие ОсОО «Пейванд» создано с целью предложить отечественным и зарубежным потребителям качественный продукт кыргызстанского производства по цене значительно более конкурентной, чем иностранные аналоги, а также реализации программы по импортозамещению.
                        Мы выпускаем подгузники под двумя марками Tay - Tay Baby и Balakay. Завод полностью отвечает требованиям санэпидемстанции и требованиям других ведомостей. При подборе сырьевых материалов ОсОО «Пейванд» руководствуется общемировыми
                        требованиями по производству экологически чистых подгузников «sustainable & environmental friendly», пункты которых зафиксированы Всемирной Организацией Здравоохранение.
                    </p>
                </div>
                <div class="brands__button">
                    <a href="/"><button class="btn-reset">Посмотреть товары</button></a>
                </div>
            </div>
        </div>
        <div class="brands__row brands__row_product">
            <div class="brands__column">
                <div class="brands__title">
                    <h2>Товары бренда</h2>
                </div>
            </div>
            <div class="brands__slr brands__slr_prd">
                <div class="brands__navigation">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper brands__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/Flexi-life-product.avif" type="image/avif">
                                        <source srcset="../img/Flexi-life-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/Flexi-life-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/Flexi-life-product.avif" type="image/avif">
                                        <source srcset="../img/Flexi-life-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/Flexi-life-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/Flexi-life-product.avif" type="image/avif">
                                        <source srcset="../img/Flexi-life-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/Flexi-life-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/Flexi-life-product.avif" type="image/avif">
                                        <source srcset="../img/Flexi-life-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/Flexi-life-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="analog__card">
                                <div class="analog__img">
                                    <picture>
                                        <source srcset="../img/Flexi-life-product.avif" type="image/avif">
                                        <source srcset="../img/Flexi-life-product.webp" type="image/webp">
                                        <img loading="lazy" src="../img/Flexi-life-product.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="analog__brand">Бренд</div>
                                <div class="analog__head">Название продукта в карточке товара</div>
                                <div class="analog__price">
                                    <div>130 ₽</div>
                                    <span>/</span>
                                    <div>
                                        <p>рекомендованная</p>
                                        <p>розничная цена</p>
                                    </div>
                                </div>
                                <div class="analog__link">
                                    <a href="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brands__row brands__row_child">
            <div class="brands__column">
                <div class="brands__title">
                    <h2>Фабрика «Деташ»</h2>
                </div>
                <div class="brands__text">
                    <p>Фабрика «Деташ» предлагает отечественным и зарубежным компаниям контрактное производство мыломоющих средств и другой продукции.</p>
                    <p>Фабрика «Деташ» была основана в 2002 году. В настоящее время «Деташ» — лидер по производству мыломоющей, пластиковой и бумажно-гигиенической продукции.</p>
                    <p>Товары «Деташ» можно увидеть на прилавках всех крупных розничных сетей Кыргызстана. Мы экспортируем свои товары в Россию и зарубежные страны.</p>
                </div>
            </div>
            <div class="brands__column">
                <div class="brands__image">
                    <picture>
                        <source srcset="../img/brands__image-5.avif" type="image/avif">
                        <source srcset="../img/brands__image-5.webp" type="image/webp">
                        <img loading="lazy" src="../img/brands__image-5.png" class="image" width="" height="" alt="">
                    </picture>
                </div>
            </div>

        </div>
    </div>
</section>
