<section class="brands-main">
    <div class="container">
        <div class="brands-main__row">
            <div class="brands-main__title">Поставляемые бренды</div>
            <div class="brands-main__cards">
                <div class="brands-main__card">
                    <div class="brands-main__img">
                        <picture>
                            <source srcset="../img/brands-main__img-1.avif" type="image/avif">
                            <source srcset="../img/brands-main__img-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/brands-main__img-1.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="brands-main__link">
                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                    </div>
                </div>
                <div class="brands-main__card">
                    <div class="brands-main__img">
                        <picture>
                            <source srcset="../img/brands-main__img-2.avif" type="image/avif">
                            <source srcset="../img/brands-main__img-2.webp" type="image/webp">
                            <img loading="lazy" src="../img/brands-main__img-2.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="brands-main__link">
                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                    </div>
                </div>
                <div class="brands-main__card">
                    <div class="brands-main__img">
                        <picture>
                            <source srcset="../img/brands-main__img-3.avif" type="image/avif">
                            <source srcset="../img/brands-main__img-3.webp" type="image/webp">
                            <img loading="lazy" src="../img/brands-main__img-3.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="brands-main__link">
                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                    </div>
                </div>
                <div class="brands-main__card">
                    <div class="brands-main__img">
                        <picture>
                            <source srcset="../img/brands-main__img-4.avif" type="image/avif">
                            <source srcset="../img/brands-main__img-4.webp" type="image/webp">
                            <img loading="lazy" src="../img/brands-main__img-4.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="brands-main__link">
                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                    </div>
                </div>
                <div class="brands-main__card">
                    <div class="brands-main__img">
                        <picture>
                            <source srcset="../img/brands-main__img-5.avif" type="image/avif">
                            <source srcset="../img/brands-main__img-5.webp" type="image/webp">
                            <img loading="lazy" src="../img/brands-main__img-5.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="brands-main__link">
                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                    </div>
                </div>
                <div class="brands-main__card">
                    <div class="brands-main__img">
                        <picture>
                            <source srcset="../img/brands-main__img-6.avif" type="image/avif">
                            <source srcset="../img/brands-main__img-6.webp" type="image/webp">
                            <img loading="lazy" src="../img/brands-main__img-6.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="brands-main__link">
                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                    </div>
                </div>
                <div class="brands-main__card">
                    <div class="brands-main__img">
                        <picture>
                            <source srcset="../img/brands-main__img-7.avif" type="image/avif">
                            <source srcset="../img/brands-main__img-7.webp" type="image/webp">
                            <img loading="lazy" src="../img/brands-main__img-7.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="brands-main__link">
                        <a href="/">Подробнее<i class="arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
