<section class="card-product">
    <div class="container">
        <div class="card-product__row">
            <div class="card-product__column">
                <div class="card-product__images">
                    <img src="../img/card-product-1.png" alt="">
                </div>
            </div>
            <div class="card-product__column">
                <div class="card-product__title">
                    <h1>Подгузники TAY-TAY “Pure and soft” organic cotton</h1>
                </div>
                <div class="card-product__att">
                    <div class="card-product__att-item">
                        <div class="card-product__type">Тип</div>
                        <div class="card-product__name">Падгузники детские</div>
                    </div>
                    <div class="card-product__att-item">
                        <div class="card-product__type">Количество капель</div>
                        <div class="card-product__name">5</div>
                    </div>
                    <div class="card-product__att-item">
                        <div class="card-product__type">Бренд</div>
                        <div class="card-product__name">Tay-Tay</div>
                    </div>
                    <div class="card-product__att-item">
                        <div class="card-product__type">Страна - изготовитель</div>
                        <div class="card-product__name">Киргизия</div>
                    </div>
                    <div class="card-product__att-item">
                        <div class="card-product__type">Кол-во шт. в упаковке</div>
                        <div class="card-product__name">44</div>
                    </div>
                    <div class="card-product__att-item">
                        <div class="card-product__type">Цвет</div>
                        <div class="card-product__name">Белый</div>
                    </div>
                </div>
                <div class="card-product__btn">
                    <button class="btn-reset card-product__green" data-graph-path="card">Оформить заказ</button>
                </div>
                <div class="card-product__card">
                    <article>
                        <div class="card-product__head" data-accordion-element-trigger>Описание</div>
                        <div class="card-product__content" data-accordion-element-content>
                            <p>Турецкие прокладки Molped имеют приятное для кожи хлопковое покрытие, которое предотвращает раздражение. Крылышки сложной формы отлично крепятся к нижнему белью. </p>
                            <p>Дышащий слой сохраняет свежесть. В отличие от нейлоновых прокладок, Pure & Soft не шуршит и обеспечивает свободу движений. Каждая прокладка в экологичной упаковке. Впитываемость 5 капель.</p>
                        </div>
                    </article>
                    <article>
                        <div class="card-product__head" data-accordion-element-trigger>Дополнительная информация</div>
                        <div class="card-product__content" data-accordion-element-content>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lectus quis mauris malesuada fringilla. Praesent non tellus massa. Phasellus at neque et massa elementum sodales. Quisque neque enim, dignissim at molestie
                                quis, lobortis eu elit. </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="analog">
    <div class="container">
        <div class="analog__row analog__row_first">
            <div class="analog__title">Аналогичные товары</div>
            <div class="analog__row">
                <div class="analog__column">
                    <div class="analog__card">
                        <div class="analog__img">
                            <picture>
                                <source srcset="../img/img-card.avif" type="image/avif">
                                <source srcset="../img/img-card.webp" type="image/webp">
                                <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                            </picture>
                        </div>
                        <div class="analog__brand">Бренд</div>
                        <div class="analog__head">Название продукта в карточке товара</div>
                        <div class="analog__price">
                            <div>130 ₽</div>
                            <span>/</span>
                            <div>
                                <p>рекомендованная</p>
                                <p>розничная цена</p>
                            </div>
                        </div>
                        <div class="analog__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="analog__column">
                    <div class="analog__card">
                        <div class="analog__img">
                            <picture>
                                <source srcset="../img/img-card.avif" type="image/avif">
                                <source srcset="../img/img-card.webp" type="image/webp">
                                <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                            </picture>
                        </div>
                        <div class="analog__brand">Бренд</div>
                        <div class="analog__head">Название продукта в карточке товара</div>
                        <div class="analog__price">
                            <div>130 ₽</div>
                            <span>/</span>
                            <div>
                                <p>рекомендованная</p>
                                <p>розничная цена</p>
                            </div>
                        </div>
                        <div class="analog__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="analog__column">
                    <div class="analog__card">
                        <div class="analog__img">
                            <picture>
                                <source srcset="../img/img-card.avif" type="image/avif">
                                <source srcset="../img/img-card.webp" type="image/webp">
                                <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                            </picture>
                        </div>
                        <div class="analog__brand">Бренд</div>
                        <div class="analog__head">Название продукта в карточке товара</div>
                        <div class="analog__price">
                            <div>130 ₽</div>
                            <span>/</span>
                            <div>
                                <p>рекомендованная</p>
                                <p>розничная цена</p>
                            </div>
                        </div>
                        <div class="analog__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="analog__column">
                    <div class="analog__card">
                        <div class="analog__img">
                            <picture>
                                <source srcset="../img/img-card.avif" type="image/avif">
                                <source srcset="../img/img-card.webp" type="image/webp">
                                <img loading="lazy" src="../img/img-card.png" class="image" width="" height="" alt="">
                            </picture>
                        </div>
                        <div class="analog__brand">Бренд</div>
                        <div class="analog__head">Название продукта в карточке товара</div>
                        <div class="analog__price">
                            <div>130 ₽</div>
                            <span>/</span>
                            <div>
                                <p>рекомендованная</p>
                                <p>розничная цена</p>
                            </div>
                        </div>
                        <div class="analog__link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
