<section class="cat-products-main">
    <div class="container">
        <div class="cat-products-main__row">
            <div class="cat-products-main__title">Категории поставляемых продуктов</div>
            <div class="cat-products-main__items">
                <a href="/" class="cat-products-main__item">
                    <div class="cat-products-main__head">Подгузники</div>
                    <div class="cat-products-main__img">
                        <picture>
                            <source srcset="../img/cat-products-main-1.avif" type="image/avif">
                            <source srcset="../img/cat-products-main-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/cat-products-main-1.png" class="image" width="" height="" alt="Подгузники">
                        </picture>
                    </div>
                </a>
                <a href="/" class="cat-products-main__item">
                    <div class="cat-products-main__head">Бытовая химия</div>
                    <div class="cat-products-main__img">
                        <picture>
                            <source srcset="../img/cat-products-main-2.avif" type="image/avif">
                            <source srcset="../img/cat-products-main-2.webp" type="image/webp">
                            <img loading="lazy" src="../img/cat-products-main-2.png" class="image" width="" height="" alt="Бытовая химия">
                        </picture>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
