<secttion class="contacts">
    <div class="container">
        <div class="contacts__row">
            <div class="contacts__main">
                <div class="contacts__title contacts__title_h1">Контакты</div>
                <div class="contacts__text">Мы являемся прямым импортером подгузников и бытовой химии в Россию. У нас организована доставка до склада клиента, а также возможен самовывоз с нашего склада. </div>
                <div class="contacts__data">
                    <div class="contacts__phone">
                        <p>Телефон</p>
                        <a href="tel:+7 (495) 133-59-12">+7 (495) 133-59-12</a>
                    </div>
                    <div class="contacts__postaddress">
                        <p>Почтовый адрес</p>
                        <span>127106, г. Москва, Нововладыкинский проезд, д. 8, стр. 3, БЦ «Красивый дом» (для ООО «ИТПК»)</span>
                    </div>
                </div>
                <div class="contacts__info">Организация доставки возможна по всей России, Белоруссии, Казахстану, Армении, Азербайджану.</div>
            </div>
            <div class="contacts__column">
                <div class="contacts__title">Адрес офиса продаж</div>
                <div class="contacts__map">
                    <map name="">
                      <div style="position:relative;overflow:hidden;"><iframe src="https://yandex.ru/map-widget/v1/-/CCURBGSySC" width="100%" height="500" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
                    </map>
                    <div class="contacts__data contacts__data_column">
                        <span class="icon-paper">Адрес офиса продажи</span>
                        <p><strong>г. Москва, Нововладыкинский пр., д. 8с4 (Бизнес-центр «Красивый дом»).</strong></p>
                        <p>По данному адресу можно встретиться с руководством компании и отделом продаж.</p>
                        <span class="icon-time">Время работы офиса</span>
                        <p>пн-пт с 10:00 до 18:00</p>
                    </div>
                </div>
            </div>
            <div class="contacts__column">
                <div class="contacts__title">Адрес склада</div>
                <div class="contacts__map">
                    <map name="">
                      <div style="position:relative;overflow:hidden;"><iframe src="https://yandex.ru/map-widget/v1/-/CCURBGGAcD" width="100%" height="500" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
                    </map>
                    <div class="contacts__data contacts__data_column">
                        <span class="icon-paper">Адрес склада</span>
                        <p>г. Московская область, городской округ Домодедово, город Домодедово, микрорайон Востряково, улица Рябиновая, строение 14. </p>
                        <p>По данному адресу можно встретиться с руководством компании и отделом продаж.</p>
                        <span class="icon-time">Время работы склада</span>
                        <p>пн-пт с 10:00 до 18:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</secttion>
