<section class="faq" itemscope itemtype="https://schema.org/FAQPage">
    <div class="container">
        <div class="faq__row">
            <div class="faq__column">
                <div class="faq__title">
                    <h2>Ответы на часто задаваемые вопросы</h2>
                </div>
                <div class="faq__subtitle">
                    Не хотите тратить время на созвон и искать ответы на самые популярные вопросы? Загляните в эту рубрику, возможно ответ на ваш вопрос именно здесь.
                </div>
            </div>
            <div class="faq__column">
                <div class="faq__accordion">
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Какие сроки доставки в разные регионы?</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Группа компаний Vinar Chemical (Великобритания) осуществляет импорт в Россию средств гигиены и бытовой химии под торговыми марками “Tay-Tay”, “Frau Sauber”, “Elze” .

                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Какой лучший способ коммуникации? Развернутый ответ  описанный несколькими абзацами</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ad illo tenetur facere, natus dicta exercitationem esse earum reprehenderit quae tempore error odit incidunt, suscipit voluptates sunt enim in perspiciatis! Ad hic dicta ea exercitationem
                                earum deleniti saepe minus sint! Ducimus possimus rem quod dolorem consectetur provident commodi ab libero, laborum asperiores iste quia nemo in! Autem at atque cumque? Iusto esse delectus mollitia quidem omnis rem architecto
                                quasi sunt dolorem perferendis corporis ad quia odio, temporibus hic, asperiores sint nulla praesentium iste at id et veritatis? At, quae omnis.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Красная акция на все детские товары?</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque impedit dolor fugiat ipsa temporibus? Enim earum nihil, voluptates doloremque quia quisquam accusantium ad non quasi dicta atque, tempore nostrum voluptatum! Distinctio dolore quidem veritatis,
                                est eum adipisci accusantium iste aspernatur sint ipsa laboriosam voluptate, recusandae nostrum doloribus ad delectus cum veniam aut, vitae quo natus fugit necessitatibus? Quibusdam, quis laudantium?
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Как с нами сотрудничать?</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas amet sit sapiente nihil! Modi, ea beatae quas enim provident vitae sint quisquam nisi repellat laudantium possimus consectetur placeat corrupti officiis!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
