<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__column footer__column_sb">
                <div class="footer__logo">
                    <picture>
                        <source srcset="../img/logo.avif" type="image/avif">
                        <source srcset="../img/logo.webp" type="image/webp">
                        <img loading="lazy" src="../img/logo.png" class="image" width="" height="" alt="Логотип">
                    </picture>
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__title">Товары</div>
                <ul class="footer__list">
                    <li>
                        <a href="">Подгузники для детей</a>
                    </li>
                    <li>
                        <a href="">Подгузники для
              взрослых</a>
                    </li>
                    <li>
                        <a href="">Чистящие средства</a>
                    </li>
                    <li>
                        <a href="">Мыло</a>
                    </li>
                    <li>
                        <a href="">Шампуни</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <div class="footer__title"><a href="brands.html">Бренды</a></div>
                <ul class="footer__list">
                    <li>
                        <a href="brands.html#taytay">Tay-Tay</a>
                    </li>
                    <li>
                        <a href="brands.html#frausauber">Frau Sauber</a>
                    </li>
                    <li>
                        <a href="brands.html#flexlife">FlexLife</a>
                    </li>
                    <li>
                        <a href="brands.html#kaori">Kaori</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <div class="footer__title"></div>
                <div class="footer__data">
                    <div class="footer__phone"><a href="tel:+7 (495) 133-59-12">+7 (495) 133-59-12</a></div>
                    <div class="footer__mail"><a href="mailto:info@chemicalopt.ru">info@chemicalopt.ru</a></div>
                    <div class="footer__adress">г. Москва, Нововладыкинский пр., д. 8с4</div>
                </div>
            </div>
            <div class="footer__copyright">© 2022 ООО «ИТПК» <br> Все права защищены
            </div>
        </div>
    </div>
</footer>

<div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="call">
        <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content">
            <form action="">
                <div class="graph-modal__column">
                    <div class="graph-modal__title">Оформить заказ</div>
                    <div class="graph-modal__form">
                        <input type="text" name="fio" placeholder="ФИО">
                        <input class="phoneMask" type="tel" name="phone" placeholder="+7 (900) 000-00-00">
                        <input type="submit" value="Оформить заказ">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
