<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__column">
                <nav class="header__menu header__menu_top">
                    <ul>
                        <li><a href="/brands.html">Бренды</a></li>
                        <li><a href="/about.html">О компании</a></li>
                        <li><a href="/contacts.html">Контакты</a></li>
                    </ul>
                </nav>
                <button class="burger header__btn-toggle" aria-label="Открыть меню" aria-expanded="false">
                  <span class="burger__line"></span>
                </button>
                <a href="catalog.html"><button class="header__btn btn-reset"><i class="menu-icon"></i>Каталог</button></a>
                <nav class="header__menu-cat">
                    <div class="menu-btn header__btn-toggle">
                        <div class="line line--1"></div>
                        <div class="line line--2"></div>
                        <div class="line line--3"></div>
                    </div>
                    <ul class="header__menu header__menu_bottom header__menu_hidden nav-links">
                        <li><a href="/about.html" class="link">Бренды</a></li>
                        <li><a href="" class="link">Новости</a></li>
                        <li><a href="" class="link">О компании</a></li>
                        <li><a href="" class="link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__column">
                <div class="header__logo">
                    <a href="/">
                        <picture>
                            <source srcset="../img/logo.avif" type="image/avif">
                            <source srcset="../img/logo.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo.png" class="image" width="" height="" alt="Логотип">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="header__column header__column_last">
                <div class="header__line">
                    <div class="header__data">
                        <div class="header__phone">
                            <a href="tel:+7 (495) 133-59-12">+7 (495) 133-59-12</a>
                        </div>
                        <div class="header__mail">
                            <a href="mailto:info@chemicalopt.ru">info@chemicalopt.ru</a>
                        </div>
                    </div>
                    <div class="header__social">
                        <ul class="social" title="">
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--yb" aria-label="Наша страничка в YouTube"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__call">
                    <button class="header__btn btn-reset header__call-btn" data-graph-path="call">Заказать звонок</button>
                </div>
            </div>
        </div>
    </div>
</header>
