<section class="header-main">
    <div class="container">
        <div class="swiper header-main__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="header-main__row">
                        <div class="header-main__column">
                            <div class="header-main__title header-main__aos" data-aos="fade-right" data-aos-delay="300" data-aos-easing="linear">
                                Тольки выгодные цены для наших клиентов
                            </div>
                            <div class="header-main__subtitle header-main__aos" data-aos="fade-right" data-aos-delay="250" data-aos-easing="linear">
                                Качество проверено временем, стандарты производства и качества совпадают с требованиями ГОСТА РФ
                            </div>
                            <div class="header-main__button header-main__aos" data-aos="fade-right" data-aos-delay="350" data-aos-easing="linear">
                                <button class="btn-reset" data-graph-path="call">Заказать звонок</button>
                            </div>
                        </div>
                        <div class="header-main__column">
                            <div class="header-main__image header-main__aos" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear">
                                <picture>
                                    <source srcset="../img/header-main__image.avif" type="image/avif">
                                    <source srcset="../img/header-main__image.webp" type="image/webp">
                                    <img loading="lazy" src="../img/header-main__image.png" class="image" width="" height="" alt="Тольки выгодные цены для наших клиентов">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
