<section class="hit">
    <div class="container">
        <div class="hit__row">
            <div class="hit__title">
                Хиты продаж
                <div class="hit__pagination">
                    <div class="swiper-button-prev-unique swiper-button"></div>
                    <div class="swiper-button-next-unique swiper-button"></div>
                </div>
            </div>
            <div class="swiper hit__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hit__cards">
                            <div class="hit__card ">
                                <div class="hit__column">
                                    <picture>
                                        <source srcset="../img/STAIN-BUSTER.avif" type="image/avif">
                                        <source srcset="../img/STAIN-BUSTER.webp" type="image/webp">
                                        <img loading="lazy" src="../img/STAIN-BUSTER.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">STAIN BUSTER</div>
                                    <div class="hit__subhead">Stain buster - Разъедает мочевой камень и ржавчину на глазах</div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hit__card hit__card_blue">
                                <div class="hit__column">
                                    <picture>
                                        <source srcset="../img/max.avif" type="image/avif">
                                        <source srcset="../img/max.webp" type="image/webp">
                                        <img loading="lazy" src="../img/max.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">WIZ (Frau Souber)</div>
                                    <div class="hit__subhead">Универсальная очистка загрязнений на любых твердых поверхностях</div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hit__card hit__card_blue">
                                <div class="hit__column">
                                    <picture>
                                        <source srcset="../img/brizz.avif" type="image/avif">
                                        <source srcset="../img/brizz.webp" type="image/webp">
                                        <img loading="lazy" src="../img/brizz.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">MAXX (Frau Souber)</div>
                                    <div class="hit__subhead">Cверхмощное средство для удаления жира и нагара</div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hit__card  ">
                                <div class="hit__column">
                                    <picture>
                                        <source srcset="../img/wiz.avif" type="image/avif">
                                        <source srcset="../img/wiz.webp" type="image/webp">
                                        <img loading="lazy" src="../img/wiz.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">BRIZZ (Frau Souber)</div>
                                    <div class="hit__subhead">Cредство для чистки унитазов (усиленная формула)</div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hit__cards">
                            <div class="hit__card">
                                <div class="hit__column">
                                    <picture>
                                        <source srcset="../img/hit-img-4.avif" type="image/avif">
                                        <source srcset="../img/hit-img-4.webp" type="image/webp">
                                        <img loading="lazy" src="../img/hit-img-4.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">ПОДГУЗНИКИ Tay-Tay</div>
                                    <div class="hit__subhead">Самый дешёвый премиальный подгузник</div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hit__card hit__card_blue">
                                <div class="hit__column ">
                                    <picture>
                                        <source srcset="../img/hit-img-5.avif" type="image/avif">
                                        <source srcset="../img/hit-img-5.webp" type="image/webp">
                                        <img loading="lazy" src="../img/hit-img-5.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">GUCCI (LAVITE) крем-гель для душа </div>
                                    <div class="hit__subhead">С французскими отдушками Gucci (Euphorie nocturne) </div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hit__card hit__card_blue">
                                <div class="hit__column ">
                                    <picture>
                                        <source srcset="../img/hit-img-6.avif" type="image/avif">
                                        <source srcset="../img/hit-img-6.webp" type="image/webp">
                                        <img loading="lazy" src="../img/hit-img-6.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">TENDRESSE (LAVITE) крем-гель для душа</div>
                                    <div class="hit__subhead">С французскими отдушками Tendresse </div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hit__card">
                                <div class="hit__column">
                                    <picture>
                                        <source srcset="../img/hit-img-7.avif" type="image/avif">
                                        <source srcset="../img/hit-img-7.webp" type="image/webp">
                                        <img loading="lazy" src="../img/hit-img-7.png" class="image" width="" height="" alt="">
                                    </picture>
                                </div>
                                <div class="hit__column">
                                    <div class="hit__head">BLISSE крем-гель для душа</div>
                                    <div class="hit__subhead">Шампунь для волос (питание и восстановление)</div>
                                    <div class="hit__price">92 ₽</div>
                                    <div class="hit__rec">Рекомендуемая цена продажи</div>
                                    <div class="hit__button">
                                        <a href=""><button class="btn-reset">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
