// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
// подключения компонентов страницы
@import "./components/header";
@import "./components/header-main";
@import "./components/breadcrumbs";
@import "./components/cat-products-main";
@import "./components/hit";
@import "./components/brands-main";
@import "./components/about-main";
@import "./components/faq";
@import "./components/about-about";
@import "./components/about-sert";
@import "./components/call";
//Страница категориий
@import "./components/cat";
//Страница контакты
@import "./components/contacts";
//Карточка бренды
@import "./components/brands";
//Карточка товара
@import "./components/card-product";
// Подвал
@import "./components/footer";
//Наши приемущества
@import "./components/adv";
// Медиа запросы
@import "./components/media";
.graph-modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    padding: 0;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-image: url(../img/close-modal.svg);
    cursor: pointer;
}

.graph-modal__container {
    background: #E3E8EF;
    border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    margin: 0;
    font-weight: inherit;
}

.graph-modal {
    &__container {
        width: 936px;
    }
    &__column {
        display: flex;
        flex-flow: column;
        padding: 73px 113px;
        gap: 40px;
    }
    &__title {
        font-size: calc(44px + var(--zoom));
        font-weight: 400;
        line-height: 110%;
        color: var(--black);
        width: 100%;
    }
    &__form {
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        input {
            max-width: 320px;
            width: 100%;
            height: 70px;
            background: #FFFFFF;
            border-radius: 6px;
            outline: none;
            border: none;
            padding: 25px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #5B5B5B;
        }
        input[type=submit] {
            max-width: 280px;
            height: 60px;
            width: 100%;
            background: #03AE33;
            font-size: calc(18px + var(--zoom));
            font-weight: 700;
            color: #fff;
            border-radius: 6px;
            transition: linear .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            &:hover {
                background: #0C802D;
                color: #FFFFFF;
            }
            &:focus {
                background: #085E20;
                color: #FFFFFF;
            }
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
